h2{
  font-family: 'Courier New', monospace;
  font-family: 'copperplate', fantasy;
  font-size: 23px;
  color: pink;
  text-align: center;
}

h1{
  font-family: 'Brush Script MT', cursive;
  font-size: 65px;
  font-color: white;
}
h3{
  font-family: 'Brush Script MT', cursive;
  font-size: 65px;
  font-color: white;
  animation-name: example;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
h4{
  font-family: 'Georgia', fantasy;
  font-family: 'Brush Script MT', cursive;
  font-size: 29px;
  color: #f4c2c2;
  text-align: center;
  background-color: #28222C;
}
.top1{
  margin-top: 100px;
  margin-left: 75px;
  margin-right: 75px;
  height: 90%;
}
.top2{
  float: left;
  width: 35%;
  height: 70%;
}

.top3{
  float: right;
  width: 65%;
  height: 90%;
}

td{
  width: 33%;
  height: 6%;
}

a{
  color: inherit;
  font-style: normal;
  text-decoration: none;
}

img{
  width: 100%;
}

a:hover{
  font-style: italic;
  color: #FFFAF0;
}

tr{
  opacity: 90%;
}

h1:hover{
  font-weight: lighter;
  color: red;
  animation-name: example;
  animation-duration: 2s;
}

@keyframes example {
  from {color: white;}
  to {color: red;}
